.searchbar {
    width: 100%;
    height: 2rem;
    padding-block: .5rem;
    
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.searchbar__input {
    flex: auto;
    padding-inline-start: 1rem;
}

.searchbar__button {
    width: 15%;
}
