:root {
    --card-width: 8rem;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

#app {
    max-width: 1300px;
    margin-inline: auto;
}

.cacat-de-combobox-container {
    width: 20%;
}
